.image-cta {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    .image-cta__image {
		border-radius: .5rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
        width: 100%;
        max-width: 320px;
    }

	.image-cta__content {
		margin-top: var(--space-lg);
		text-align: center;

		.image-cta__heading {
			margin-top: 0;
		}
	}
}

@include media-breakpoint-up(md) {
	.image-cta {
        flex-direction: row-reverse;
        flex-wrap: wrap;

        .image-cta__content {
			flex: 1;
			margin-top: 0;
			margin-left: var(--space-xl);
			text-align: left;
		}

		.image-cta__image {
			width: 28vw;
            max-width: 450px;
            min-width: 300px;
		}

        &--reverse {
			flex-direction: row;

			.image-cta__content {
				margin-left: 0;
				margin-right: var(--space-xl);
			}
		}
    }
}
