.image-cta {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    .image-cta__image {
		border-radius: .5rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
        width: 100%;
        max-width: 320px;
    }

	.image-cta__content {
		margin-top: var(--space-lg);
		text-align: center;

		.image-cta__heading {
			margin-top: 0;
		}

		.image-cta__contact {
			display: flex;
			flex-direction: column;
			list-style: none;
			margin: 0;
			padding-left: 0;
			margin-bottom: var(--space-lg);

			.image-cta__contact__item {
				+ * {
					margin-top: var(--space-sm);
				}

				.image-cta__contact__link {
					display: flex;
					align-items: center;
					text-decoration: none;
					justify-content: center;
	
					.dashicons {
						margin-right: var(--space-xs);
					}
				}
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.image-cta {
        flex-direction: row-reverse;
        flex-wrap: wrap;

        .image-cta__content {
			flex: 1;
			margin-top: 0;
			margin-left: var(--space-xl);
			text-align: left;

			.image-cta__contact .image-cta__contact__item .image-cta__contact__link {
				justify-content: start;
			}
		}

		.image-cta__image {
			width: 28vw;
            max-width: 450px;
            min-width: 300px;
		}

        &--reverse {
			flex-direction: row;

			.image-cta__content {
				margin-left: 0;
				margin-right: var(--space-xl);
			}
		}
    }
}

@include media-breakpoint-up(lg) {
	.image-cta .image-cta__content .image-cta__contact {
		flex-direction: row;

		.image-cta__contact__item + * {
			margin-top: 0;
			margin-left: var(--space-lg);
		}
	}
}
