.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary,
.custom-content {
	margin-top: var(--space-xl);
}

.custom-content > * + * {
	margin-top: var(--space-xl);
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

@include media-breakpoint-up(md) {
    .page-content,
	.entry-content,
	.entry-summary,
	.custom-content {
		margin-top: var(--space-xxl);
	}

	.custom-content > * + * {
		margin-top: var(--space-xxl);
	}
}

@include media-breakpoint-down(sm) {
	.wp-block-columns {
		gap: 0;
	}

	.wp-block-columns--reverse-stack {
		flex-direction: column-reverse;
	}
}
