a {
	color: $color__link;
	text-decoration: none;

	&:hover,
	&:active {
		// color: $color__link-hover;
		text-decoration: underline;
	}

	&:focus:not(:focus-visible) {
		outline: none;
	}

	&:focus {
		outline: thin solid $color__brand-yellow;
		outline-offset: 2px;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
