.site-header__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-sm) 0;

    .site-branding img {
        width: 6.7rem;
    }
}

@include media-breakpoint-up(lg) {
    .site-header__inner {
        flex-direction: row;
        justify-content: space-between;
    }
}

@include media-breakpoint-down(lg) {
    .site-header .container {
        padding: 0;
        max-width: 100%;

        .site-header__inner {
            padding-bottom: 0;
        }
    }
}
